/***GENERAL***/

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*webkit searchbox placeholder color*/
#search-box::-webkit-input-placeholder {
    color: rgba(255,255,255,0.5);
}#search-box:-moz-placeholder {
    /* FF 4-18 */
    color: rgba(255,255,255,0.5);
}#search-box::-moz-placeholder {
    /* FF 19+ */
    color: rgba(255,255,255,0.5);
}#search-box:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255,255,255,0.5);
}

body{
    font-family: 'open_sansregular';
    color: black;
    width: 100%;
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.menu-selected{
    text-decoration: line-through;
    color: black;
}
.container{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
button:focus{
    outline: none;
}
button{
    cursor: pointer;
}

/***HEADER***/
header{
    background: #ff8b38;
    width: 100%;
    height: 85px;
    position::; relative;
    z-index: 3;
    overflow: visible;
}
header .logo{
    width: 60%;
    float: left;
    padding: 0% 2%;
    overflow: hidden;
}

header .logo img{
    width: 50%;
}

header .search{
    width: 25%;
    float: left;
    padding: 1.7% 0 1.7% 4%;
}

header .search #search-box{
    background-color: rgba(255,255,255,0.1);
    outline: none;
    border: 0;
    padding: 10px 5px;
    width: 100%;
    color: rgba(255,255,255,0.6);
    font-size: 1em;
}

header .search #search-box:focus{
    outline: 1px solid white;
    color: white;
}

header .nav-menu{
    width: 15%;
    float: left;
    padding: 1% 2%;
    overflow: visible;
}

header .nav-menu li{
    width: 50%;
    float: left;
    text-align: left;
    font-size: 2em;
    padding: 2% 0;
}

header .nav-menu li:last-child{
    text-align: right;
}


header a{
    color: white;
}

header a:hover{
    color: black;
    transition: 0.5s;
}

/*burguer menu rotation*/
#burguer-btn{
    transition: 0.5s;
}

.burguer-menu-action{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: black;
}

/*hidden burguer menu*/
.burguer-menu{
    width: 25%;
    right: 0;
    position: absolute;
    background-color: #ff8b38;
    top: 85px;
    z-index: 1;
    overflow: visible;
    text-align: right;
    border: 1px solid rgba(255,255,255,0.3);
}

.burguer-menu li{
    padding: 3%;
}

.burguer-menu li a{
    font-family: 'open_sansextrabold';
    font-size: 2em;
    text-transform: uppercase;
}

.burguer-menu li a:hover{
    color: black;
    transition: 0.2s;
}

.menu-divider{
    width: 100%;
    border: 1px solid rgba(255,255,255,0.1);
}

/***ASIDE***/

aside{
    width: 25%;
    float: left;
    background-color: dimgrey;
    position: relative;
    color: white;
    padding: 1.18% 0;
    overflow: visible;
    z-index: 2;
}

aside .side-title{
    width: 80%;
    margin: 0 auto;
    padding: 4% 0 0 0;
    margin-bottom: 1%;
    border-bottom: 1px solid white;
    text-transform: uppercase;
    font-family: 'open_sansextrabold';
}

aside .site-list, aside .admin-list, aside .config-list{
    width: 100%;
}

aside .side-menu ul a{
    color: white;
}

aside .site-list li, aside .admin-list li,
aside .config-list li{
    width: 100%;
    overflow: hidden;
    padding: 3% 2%;
}

aside .side-menu .left-icon{
    width: 10%;
    float: left;
    font-size: 1.5em;
}

aside .aside-nav-par{
    width: 80%;
    float: left;
}

aside .side-menu .right-icon{
    width: 10%;
    float: left;
    text-align: center;
    font-size: 1.5em;
    transition: 0.5s;
}

.aside-selected, .aside-option:hover{
    background-color: darkgray;
}

.page-selected{
    background-color: #ff8b38;
}

#paginas-btn,#eventos-btn{
    transition: 0.5s;
}

.eventos-menu-action, .paginas-menu-action{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotateY(180deg);
}

/*hidden burguer menu*/
.eventos-menu{
    width: 65%;
    left: 100%;
    position: absolute;
    background-color: darkgray;
    top: 9.25%;
    z-index: 1;
    overflow: visible;
}

aside .eventos-menu li, aside .paginas-menu li{
    width: 100%;
    padding: 4.6% 4%;
}

.eventos-menu li .left-icon, .paginas-menu li .left-icon{
    width: 15%;
    float: left;
}

.eventos-menu li .menu-par, .paginas-menu li .menu-par{
    width: 85%;
    float: left;
}

.eventos-menu li:hover, .paginas-menu li:hover{
    background-color: dimgray;
}

.paginas-menu{
    width: 65%;
    left: 100%;
    position: absolute;
    background-color: darkgray;
    top: 22.7%;
    z-index: 1;
    overflow: visible;
}

/**/

/***Main***/
.main{
    width: 75%;
    float: left;
    top: 0;
    position: relative;
}

/*home*/
.dashboard{
    overflow: hidden;
}

.dashboard figure{
    width: 100%;
    position: relative;
    overflow: hidden;
    bottom: -5px;
}

.dashboard figure img{
    width: 100%;
}

.dashboard figcaption{
    background-color: rgba(255,255,255,0.6);
    width: 80%;
    height: 40%;
    bottom: 30%;
    margin: 0 10%;
    position: absolute;
    font-family: 'open_sansextrabold';
    padding: 4%;
    text-align: center;
}

.dashboard figcaption .dash-title{
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 5px;
    font-weight: bolder;
}

.dashboard figcaption .dash-par{
    font-size: 1.5em;
    font-family: 'open_sansregular';
    padding-top: 2%;
}

/*LISTA*/
.lista{
    top: 0;
    position: relative;
}

.lista-container{
    width: 80%;
    margin: 0 auto;
    padding: 2% 0;
}

.edit-container{
    width: 90%;
    margin: 0 auto;
    padding: 2% 0;
}

.lista-title{
    font-family: 'open_sansextrabold';
    text-transform: uppercase;
    text-align: center;
    color: #ff8b38;
    font-size: 2em;
}

.filtro-title{
    font-size: 1em;
    font-family: 'open_sansregular'
}

.filtro-lista{
    width: 100%;
    padding: 3% 0;
    overflow: hidden;
}

.filtro-btn{
    width: 32%;
    float: left;
    margin-right: 2%;
    padding: 1%;
    background-color: white;
    color: #ff8b38;
    border: 1px solid #ff8b38;
    cursor: pointer;
    transition: 0.2s;
    text-align: center;
}

.filtro-btn:last-child{
    margin-right: 0;
}

.filtro-btn:hover, .filtro-sel{
    background-color:#ff8b38;
    color: white;
}

.listado{
    width: 100%;
    overflow: hidden;
    padding: 2% 2% 0 2%;
    margin: 2% 0;
    background-color: #eaeaea;
}

.listado .listado-info{
    width: 80%;
    float: left;
}

.listado .listado-admin{
    width: 20%;
    float: left;
}

.listado-icon{
    margin-right: 1%;
}

.listado-info p, .listado-admin p{
    padding: 0.5% 0;
}

.listado .listado-info .info-title{
    padding: 0 0 0.5% 0;
    text-transform: uppercase;
    font-family: 'open_sansextrabold';
}

.listado .listado-btns{
    width: 100%;
    clear: both;
    padding: 1% 0;
}

.listado .listado-btns button{
    width: 32.5%;
    margin-right: 1.25%;
    float: left;
    padding: 1% 0;
    background-color: dimgray;
    border: 1px solid dimgray;
    font-size: 1.1em;
    color: white;
    transition: 0.3s;
}

.listado .listado-btns button:last-child{
    margin-right: 0;
}

.listado .listado-btns .admin-btn:hover{
    background-color: rgba(0,0,0,0);
    color: dimgray;
}

.listado .listado-btns .ok-destacado{
    background-color: #ff8b38;
    color: white;
    border-color: #ff8b38;
}


.ok-destacado .listado-icon{
    color: red;
}

.ver-mas-lista{
    position: relative;
    text-align: center;
    overflow: hidden;
    padding: 4% 0;
}

.ver-mas-lista .ver-mas-btn{
    width: 50%;
    padding: 2% 4%;
    background-color: white;
    border: 1px solid #ff8b38;
    color: #ff8b38;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: 'open_sansextrabold';
}

.ver-mas-lista .ver-mas-btn:hover, .ver-mas-lista .pressed-btn{
    background-color: #ff8b38;
    color: white;
}

.ver-mas-lista .pressed-btn{
    cursor: not-allowed;
}

/*nuevo evento*/

.form-nuevo{
    overflow: hidden;
    background-color: #e8e8e8;
    padding: 2% 4%;
    border: 2px solid black;
    font-family: 'open_sanslight';
    color: black;
}

.form-nuevo .input-50 input{
    border: 1px solid black;
    margin: 2% 0;
    padding: 1%;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0);
}

.form-nuevo .input-container input{
    padding: 1%;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0);
    border: 0;
    font-size: 0.9em;
}

#edit-title{
    font-size: 1.2em;
}

input:focus{
    outline: 0;
}

.input-container{
    border: 1px solid black;
    margin: 2% 0;
    width: 100%;
    overflow: hidden;
}

.form-nuevo .input-100{
    width: 100%;
}

.form-nuevo label{
    font-family: inherit;
    text-transform: uppercase;
}

.input-50{
    width: 49%;
    float: left;
    overflow: hidden;
    margin-right: 2%;
}

.input-full{
    width: 100%;
    overflow: hidden;
}

.input-full .input-icon{
    width: 4%;
    float: left;
    padding: 1%;
}

.input-full input{
    width: 96%;
    float: left;
}

.input-50:nth-child(odd){
    margin-right: 0;
}

.input-50 .input-icon{
    font-size: 1em;
    color: black;
    padding: 2.8% 2%;
    width: 8%;
    float: left;
}

.input-50-full{
    width: 92%;
    float: left;
}

#incluir-destacados{
    padding: 1% 0;
    text-transform: uppercase;
}

#incluir-destacados span{
    font-size: 1.2em;
}

.incluir-destacados-no{
    background-color: rgba(0,0,0,0);
}

.incluir-destacados-ok{
    background-color: dimgray;
    border: 1px solid dimgray;
    color: white;
}

.incluir-destacados-ok span{
    color: red;
}

#input-cat,#input-cargo{
    padding: 1%;
    background-color: rgba(0,0,0,0);
    text-transform: uppercase;
}

#input-cargo{
    margin: 7% 0;
}

#evento-resena{
    width: 100%;
    height: 100px;
    resize: none;
    background-color: rgba(0,0,0,0);
    border: 0;
    margin: 0;
    padding: 1%;
    font-family: 'open_sanslight';
    font-size: 0.9em;
    text-transform: uppercase;
}

#evento-resena:focus{
    outline: 0;
    text-transform: none;
}

.img-input{
    width: 60%;
    margin: 2% auto;
    text-align: center;
    text-transform: uppercase;
    padding: 15% 0;
    cursor: pointer;
}

.img-input span{
    font-size: 1.5em;
}

.img-input-upload{
    background-color: dimgray;
    color: white;
    border: 1px solid dimgray;
}

.form-divider{
    width: 100%;
    border: 2px dashed dimgrey;
}

.subtitle-form{
    text-transform: uppercase;
    padding: 1.5% 0;
    text-align: center;
    font-family: 'open_sansextrabold';
    font-size: 1.5em;
}

.ticket{
    overflow: hidden;
}

.ticket .input-icon:nth-child(odd){
    text-align: right;
}

.add-ticket{
    cursor: pointer;
    font-size: 1.2em;
}

.admin-btns{
    width: 100%;
    overflow: hidden;
    padding: 4% 0 2% 0;
}

.admin-btns button{
    width: 33.335%;
    float: left;
    padding: 1%;
    font-family: 'open_sansextrabold';
    font-size: 1.2em;
    text-transform: uppercase;
    color: white;
}

.admin-btns .vista-previa{
    background-color: #ff8b38;
    border: 1px solid #ff8b38;
}

.admin-btns .vista-previa:hover{
    color: #ff8b38;
}

.admin-btns .descartar{
    background-color: #ff2727;
    border: 1px solid #ff2727;
}

.admin-btns .descartar:hover{
    color: #ff2727;
}

.admin-btns .publicar{
    background-color: #17a817;
    border: 1px solid #17a817;
}

.admin-btns .publicar:hover{
    color: #17a817;
}

.admin-btns button:hover{
    background-color: rgba(0,0,0,0);
}


/***footer***/
footer{
    width: 100%;
    position: relative;
    bottom: 0;
    overflow: hidden;
    padding: 2% 0;
    background-color: #ff8b38;
    color: white;
    text-align: center;
    font-family: 'open_sanslight';
}
